[submodule "stationapi"]
	path = stationapi
	url = https://github.com/crw404/stationapi.git
[submodule "dsrc"]
	path = dsrc
	url = https://github.com/crw404/dsrc.git
[submodule "src"]
	path = src
	url = https://github.com/crw404/src.git
[submodule "serverdata"]
	path = serverdata
	url = https://github.com/crw404/serverdata.git
[submodule "exe"]
	path = exe
	url = https://github.com/crw404/configs.git
	ignore = dirty

